.coin-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* Change to space-between for better alignment */
  gap: 20px; /* Creates space between the two sections */
  padding: 20px;
}

.coin-image img {
  width: 180px; /* Keep image size controlled */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px;
}

.coin-details {
  text-align: left; /* Align text to left for better readability */
  margin: 15px;
  color: aqua;
  font-size: larger;
  padding: 5px;
  
}

.coin-chart {
   width: 300px; /* Adjust width as needed */
   max-width: 100%; /* Ensure it doesn't exceed container width */
   margin-bottom: 20px;
   padding: 10px;
   border-radius: 8px;

}
